.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea
.DS_Store
/build
/captures
/gradle.properties
/gradle
/calendarviewdemo.iml
/CalendarView.iml
/app/app.iml
/CustomCalendarView.iml